.about-section {
  padding-top: 80px;
  padding-bottom: 75px;
  background-color: #f6f6f6;
}
.about-section__text {
  max-width: 485px;
  margin: auto;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
