.contacts-section {
  padding-top: 85px;
  padding-bottom: 90px;
}
.contacts-section__text {
  margin-bottom: 40px;
  text-align: center;
}
.contacts-section__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  width: 250px;
  height: 40px;
  border: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: 50px;
  @media screen and (min-width: 1000px) {
    width: 180px;
  }
}

.socials-list-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}
.socials-list-icons__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.socials-list-text {
  display: flex;
  justify-content: center;
}
.socials-list-text__item {
  &:not(:last-child) {
    margin-right: 5px;
  }
}

.socials-list-text__link {
  font-size: 14px;
  color: #828282;
}
.socials-list-text__pre-text {
  text-align: center;
  color: #828282;
}
